<!-- %= link_to "home", root_path % -->


<h1>ようこそ Bookers へ！</h1>
<p>Bookers では、さまざまな書籍に関するあなたの意見や</p>
<p>印象を共有し交換することができます</p>
<a href="https://web-camp.io/">start</a>
<br>リンク先はnew.html.erbになる？

VSコードテスト
